/* Definitions for CKEditor font-type menu must be here. */
.ck.ck-heading_heading1 {
    color: #c00;
}

.ck.ck-heading_heading2 {
    color: #080;
}

.ck.ck-heading_heading3 {
    font-size: 16px;
}

.ck.ck-heading_heading4 {
    font-size: 16px;
    color: #906;
}

.ck.ck-heading_heading5 {
    font-size: 16px;
    color: #b28;
}

.editbox:not(:focus) {
    border: 1px #ccc solid;
}
